.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
*~
config.log
config.status
config.sub
configure
depcomp
joy-marshallers.c
joy-marshallers.h
joytest
*.o
install-sh
*.la
*.lo
libtool
ltmain.sh
m4
missing
stamp-h1
joytest-iface.h
.version
